@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Space Mono", serif;
  scroll-behavior: smooth;
}

.section-scroll-top{
  scroll-margin-top: 50px;
}

.inter-font {
  font-family: "Inter", serif; 
}


.anton-font {
  font-family: "Anton SC", serif;
}


@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.glass-effect {
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */


}